.background {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .h1{
    
    margin-bottom: 50px;
    font-weight: bold;
    
    
  }
  
  .prescription-image {
    width: 90%; /* Adjust width as needed */
    margin-bottom: 60px; /* Add some margin for spacing */
    height: 340px;
    
  }
  