*{
    box-sizing: border-box;
  }
  a{
    cursor: pointer;
  }
  img{
    max-width: 100%;
  }
  main{
    padding: 10px;
    margin: 0 auto;
  }
  body{
    color:#222;
  }
  
  header{
    display:flex;
    justify-content:space-between;
    margin-top: 20px;
    margin-bottom: 50px;
    align-items: center;
  }
  header a{
    text-decoration:none;
    color: inherit;
  }
  header div.topic{
    font-weight: bold;
    font-size: 1.7rem;
    
    
  }
  
  header nav{
    display:flex;
    gap: 24px;
  }
  h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-size: 4rem;
    justify-content: center;
    align-items: center;
    display: flex;
  
  }
  h2{
   
    font-style: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  div.main-second-line{
    font-weight: bold;
    font-size: 1.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    
  }
  
  div.post{
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-bottom: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  @media screen and (min-width: 700px) {
    div.post{
        grid-template-columns: .9fr 1.1fr;
    }
  }
  
  div.post div.texts h3{
    margin:0;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  div.post div.texts a{
    text-decoration:none;
    color: inherit;
  }
  div.post p.authorinfo{
    margin:24px 0;
    color: #888;
    font-size:1rem;
    font-weight: bold;
    display: flex;
    gap: 10px;
  }
  div.post p.authorinfo a.author{
    color:#333;
  }
  div.post p.summary{
    margin:10px 0;
    line-height: 1.8rem;
  }
  
  
  
  